$white: #ffffff;
$black: #000000;
$grey: #e2e2e2;
$mainColor: #14243B;
$green: #99BCA9;
$blackColor: #546A76;
$grayColor: #D5D5D5;
$yellow: #EBD09F;
$blue: #1D788B;
$red: #E64B60;
$content-bg: #f9f9f9;


$twitterColor: #41abe1;
$facebookColor: #4867aa;
$googlecolor: #db4437;
$linkedinColor: #0077b5;
$mainFont: 'bpg-banner', sans-serif;
$secondaryFont: 'bpg-algeti', sans-serif;
$englishFont: 'Open Sans', sans-serif;
